<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

<body>
  <h1>NASA Astronomy Picture of the Day</h1>

  <%- include('partials/nav.ejs') %>

  <main>
    <h2><%= nasaData.title %></h2>

    <p><strong>Date:</strong> <%= nasaData.date %></p>

    <% if (nasaData.media_type === "image") { %>
      <img
        src="<%= nasaData.url %>"
        alt="<%= nasaData.title %>"
      >
    <% } else { %>
      <iframe
        src="<%= nasaData.url %>"
        width="700"
        height="400"
        allowfullscreen>
      </iframe>
    <% } %>

    <p><%= nasaData.explanation %></p>
  </main>

  <%- include('partials/footer.ejs') %>
</body>
</html>