<nav>
    <a
        class="custom-btn <%= currentPage === 'overview' ? 'current' : '' %>"
        href="/">
        Overview
    </a>

    <a
        class="custom-btn <%= currentPage === 'phases' ? 'current' : '' %>"
        href="/phases">
        SDLC Phases
    </a>

    <a
        class="custom-btn <%= currentPage === 'models' ? 'current' : '' %>"
        href="/models">
        SDLC Models
    </a>

    <a
        class="custom-btn <%= currentPage === 'benefits' ? 'current' : '' %>"
        href="/benefits">
        SDLC Benefits
    </a>

    <a
        class="custom-btn <%= currentPage === 'simulator' ? 'current' : '' %>"
        href="/simulator">
        Project Simulator
    </a>
</nav>